<ion-view view-title="{{ ['', 'Nibbles', 'Fish & Shellfish', 'Vegetables & Pulses', 'Meats'][dishesId]  }}">
  <ion-content>
    <ion-list ng-if="dishesId == 1">
      <ion-item class="item-icon-left"><i class="icon ion-jet assertive"></i>almonds</ion-item>
      <ion-item class="item-icon-left"><i class="icon ion-planet balanced"></i>olives</ion-item>
      <ion-item>anchovies, piquillo peppers, caperberries</ion-item>
      <ion-item>pork crackling, mushroom salt</ion-item>
    </ion-list>
    <ion-list ng-if="dishesId == 2">
      <ion-item>octopus, smoked paprika, potatoes, px vinegar</ion-item>
      <ion-item>salted cod cakes, lemon aioli</ion-item>
      <ion-item>cured salmon, piquillo pepper, smoked scallop roe aioli</ion-item>
      <ion-item>scallops, black pudding, cauliflower purée, lardo, oats</ion-item>
      <ion-item>basque style monkfish, parsley mayonnaise</ion-item>
      <ion-item>clams, chorizo, sherry </ion-item>
      <ion-item>squid, garlic, salt, parsley, lemon</ion-item>
      <ion-item>mussels, almonds, white wine</ion-item>
      <ion-item>crab, piquillo pepper, pickled kohl-rabi, black olive soil</ion-item>
    </ion-list>
    <ion-list ng-if="dishesId == 3">
      <ion-item>tortilla, romesco</ion-item>
      <ion-item>patatas bravas</ion-item>
      <ion-item>wild mushrooms, organic cider, garlic</ion-item>
      <ion-item>chickpea, spinach, tomato sauce</ion-item>
      <ion-item>goat’s cheese & sweet potato croquettes (v)</ion-item>
      <ion-item>tomato bread, olive oil</ion-item>
      <ion-item>catalan spinach</ion-item>
      <ion-item>lentils, saffron, cumin, organic vegetables</ion-item>
      <ion-item>catalan ratatouille</ion-item>
      <ion-item>moorish couscous, rose petals, hay smoked yoghurt</ion-item>
      <ion-item>goat’s cheese, piquillo peppers, walnut powder</ion-item>
      <ion-item>organic beetroot, pine nuts, px sherry</ion-item>
      <ion-item>organic green leaves, chicory, hazelnuts</ion-item>
      <ion-item>wild mushroom & pea paella</ion-item>
    </ion-list>
    <ion-list ng-if="dishesId == 4">
      <ion-item>jamón croquettes, saffron aioli</ion-item>
      <ion-item>beef cheek, jerusalem artichoke purée, apple, oats, leek ash</ion-item>
      <ion-item>rack of lamb, confit lamb belly, cauliflower purée</ion-item>
      <ion-item>pigs head fritter, beetroot purée, pickled beetroot,hazelnuts</ion-item>
      <ion-item>free range duck, plum, px sherry</ion-item>
      <ion-item>moorish chicken, piquillo pepper sauce, black olive soil</ion-item>
      <ion-item>hay smoked quail, foie gras, quince, px sherry</ion-item>
      <ion-item>confit pork belly, apple compote, thyme gel</ion-item>
      <ion-item>free range pork fillet, serrano ham, apricots, sherry</ion-item>
      <ion-item>chorizo, potatoes, red wine</ion-item>
      <ion-item>meatballs, tomato sauce</ion-item>
      <ion-item>pork neck, migas, morcilla, piquillo pepper</ion-item>
      <ion-item>chicken breast, walnuts, chicory, carrot purée, walnut powder</ion-item>
      <ion-item>potatoes, serrano ham, cherry tomatoes, garlic</ion-item>
      <ion-item>chicken hearts, chorizo, cider</ion-item>
      <ion-item>beef & foie gras burgers, manchego, piquillo pepper</ion-item>
      <ion-item>tomato bread, serrano ham, olive oil</ion-item>
      <ion-item>pig cheeks, apple, sultanas, tomato sauce</ion-item>
      <ion-item>chorizo, sherry</ion-item>
      <ion-item>black pudding, chickpeas, raisins, pine nuts, parsley</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
